<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
  <div class="sky-container">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>

    <div id="three-container"></div>
    
</div>
	<header>
    <h3>Dzięki za wypełnienie ankiety! </h3>
 
  </header>
  
	<div class="container6">
		
		<main>
                <h3>
                Gotowe!</br>
                To już wszystko, jeżeli chcesz zobaczyć jak wypadasz na tle reszty studentów naciśnij na przycisk "Statystyki"</br>
                Aby przejść do strony startowej wystarczy nacisnąć na przycisk "Powrót"</h3>
                <button id="submit">Statystyki</button>
                <button id="submit2" onclick="window.location.href='/'">Powrót</button>
		</main>
		
    </div>
    
	<script src="js/jquery.js"></script>
	<script src="js/quiz.js"></script>
</body>
</html>