<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Ankieta</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootsrtap.min.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style2.css" type="text/css" />
</head>

<body>
  <h1>
    <span>E</span>
    <span>R</span>
    <span>R</span>
    <span>O</span>
    <span>R</span>
    <span>!</span> 
  </h1>	
       
	<script src="js/jquery.js"></script>
	<script src="js/quiz.js"></script>
</body>
</html>