<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
	<header>
		<h3>Ocena uzależnienia od gier komputerowych wśród studentów ETI </h3>
	</header>
	<div class="container">
		
		<main>

			<form class="questionForm" id="q17" data-question="17" th:action="@{/add_feelings}" th:object="${feelings}" method="post">
				<h3>17.Czy odczuwasz złość gdy nie może przejść danego poziomu? </h3>
				<ul>
					<li><input name="q17" type="radio" value="1" th:field="*{anger_when_leveling}" checked="checked" />Tak</li>
					<li><input name="q17" type="radio" value="0" th:field="*{anger_when_leveling}" />Nie</li>
				</ul>
				<h3>18.Czy często myślisz o o tym, co dzieje się w sieci lub w ulubionej grze komputerowej, np. w nocy, w pracy, na uczelni?</h3>
				<ul>
					<li><input name="q18" type="radio" value="1" th:field="*{thoughts_about_game}" checked="checked" />Tak</li>
					<li><input name="q18" type="radio" value="0" th:field="*{thoughts_about_game}" />Nie</li>
				</ul>
				<h3>19.Czy odczuwasz złość gdy przegrywa na innego gracza? </h3>
				<ul>
					<li><input name="q19" type="radio" value="1" th:field="*{anger_when_loosing}" checked="checked" />Tak</li>
					<li><input name="q19" type="radio" value="0" th:field="*{anger_when_loosing}" />Nie</li>
				</ul>
				<button id="submit">Zatwierdź</button>
				<h3>20.Czy traci Pan/Pan poczucie czasu grając w gry? </h3>
				<ul>
					<li><input name="q20" type="radio" value="1" th:field="*{waste_of_good_timing}" checked="checked" />Tak</li>
					<li><input name="q20" type="radio" value="0" th:field="*{waste_of_good_timing}" />Nie</li>
				</ul>
				<h3>21.Czy Pana/Pani zdaniem długie siedzenie przed komputerem ma negatywny wpływ na Pańskie samopoczucie ?</h3>
				<ul>
					<li><input name="q21" type="radio" value="1" th:field="*{health_issue}" checked="checked" />Tak</li>
					<li><input name="q21" type="radio" value="0" th:field="*{health_issue}" />Nie</li>
				</ul>
				<h3>22.Jakie negatywne symptomy zaobserwowałeś/zaobserwowałaś u siebie siedząc długo przed komputerem ?</h3>
				<ul>
					<li><input name="q22" type="radio" value="Bol glowy" th:field="*{symptoms}" checked="checked" />Bóle głowy</li>
					<li><input name="q22" type="radio" value="Lzawienie oczu" th:field="*{symptoms}" />Łzawienie z oczu</li>
					<li><input name="q22" type="radio" value="Rozdraznienie" th:field="*{symptoms}" />Rozdrażnienie</li>
					<li><input name="q22" type="radio" value="Zmeczenie" th:field="*{symptoms}" />Zmęczenie</li>
				</ul>
					<h3>29.Czy w przeciągu ostatnich lat zauważyłeś/zuważyłaś zmniejszenie ilości zainteresowań?</h3>
					<ul>
						<li><input name="q29" type="radio" value="1" th:field="*{loss_of_hobbies}" checked="checked" />Tak</li>
						<li><input name="q29" type="radio" value="0" th:field="*{loss_of_hobbies}" />Nie</li>
					</ul>
				<button id="submit">Zatwierdź</button>
			</form>

		</main>
		<!-- <footer>
			<span class="a-t">Odpoweidzi : <span class="played" id="played">0</span> / <span id="total"></span></span>
		</footer> -->
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/quiz.js"></script>
</body>
</html>