<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
	<header>
		<h3>Ocena uzależnienia od gier komputerowych wśród studentów ETI </h3>
	</header>
	<div class="container">
		
		<main>
			<form class="questionForm" id="q6" data-question="6" th:action="@{/add_game}" th:object="${game}" method="post">
				<h3>6.Jaki rodzaj gier komputerowych preferujesz?</h3>
				<ul>
					<li><input name="q6" type="radio" value="Zrecznosciowe" th:field="*{type_of_game}" checked="checked"/>Zręcznościowe</li>
					<li><input name="q6" type="radio" value="Przygodowe" th:field="*{type_of_game}" />Przygodowe</li>
					<li><input name="q6" type="radio" value="Sportowe" th:field="*{type_of_game}" />Sportowe</li>
					<li><input name="q6" type="radio" value="Logiczne" th:field="*{type_of_game}" />Logiczne</li>
				</ul>
				<h3>7.Jaki typ gier komputerowych preferujesz ?</h3>
				<ul>
					<li><input name="q7" type="radio" value="Multi-player" th:field="*{gameplay_type}" checked="checked" />Multi-player</li>
					<li><input name="q7" type="radio" value="Single-player" th:field="*{gameplay_type}" />Single-player</li>
				</ul>
				<h3>8.Ile miałęś/aś lat gdy zacząłeś/zaczełaś grać w gry komputerowe?</h3>
				<ul>
					<li><input name="q8" type="radio" value="Ponizej 10" th:field="*{started_age}" checked="checked" />Poniżej 10 lat</li>
					<li><input name="q8" type="radio" value="10-15" th:field="*{started_age}" />Od 10 do 15 lat</li>
					<li><input name="q8" type="radio" value="15-20" th:field="*{started_age}" />Od 15 do 20 lat</li>
					<li><input name="q8" type="radio" value="Powyzej 20" th:field="*{started_age}" />Powyżej 20 lat</li>
				</ul>
				<h3>9.Jak dużo czasu poświęcasz na gry komputerowe w ciągu dnia?</h3>
				<ul>
					<li><input name="q9" type="radio" value="Ponizej 1h" th:field="*{gaming_time}" checked="checked" />Poniżej 1 godziny</li>
					<li><input name="q9" type="radio" value="1-2h" th:field="*{gaming_time}" />Od 1 do 2 godzin</li>
					<li><input name="q9" type="radio" value="2-5h" th:field="*{gaming_time}" />Od 2 do 5 godzin</li>
					<li><input name="q9" type="radio" value="Powyzej 5h" th:field="*{gaming_time}" />Powyżej 5 godzin</li>
				</ul>
				<h3>10.Czy Twój czas spędzany na graniu w gry komputerowe zwiększył się na przestrzeni ostatnich lat?</h3>
				<ul>
					<li><input name="q10" type="radio" value="1" th:field="*{time_increased}" checked="checked" />Tak</li>
					<li><input name="q10" type="radio" value="0" th:field="*{time_increased}" />Nie</li>
				</ul>
				<h3>12.Czy wydawałeś/wydawałaś lub wydajesz realne pieniądze na gry komputerowe (nie licząc kosztów zakupu gier)?</h3>
				<ul>
					<li><input name="q12" type="radio" value="1" th:field="*{spending}" checked="checked" />Tak</li>
					<li><input name="q12" type="radio" value="0" th:field="*{spending}" />Nie</li>
				</ul>
				<button id="submit">Zatwierdź</button>
			</form>

		</main>
		<!-- <footer>
			<span class="a-t">Odpoweidzi : <span class="played" id="played">0</span> / <span id="total"></span></span>
		</footer> -->
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/quiz.js"></script>
</body>
</html>