<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootsrtap.min.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css" type="text/css" />
  
</head>

<body>
	<main>
	  <section class="ankieta">
		<div class="container">
			<header>
				<div class="top">
				  <h2>Ocena uzależnienia od gier komputerowych wśród studentów ETI</h2> 
				  </div>
			</header>
			  <div class="row">
				<div class="col-12">		
				  <div class ="container1">	
					<form class="questionForm" id="q6" data-question="6" th:action="@{/add_game}" th:object="${game}" method="post">
						<h3>Jaki rodzaj gier komputerowych preferujesz?</h3>
						<ul>
							<li><input name="q6" type="radio" value="Zrecznosciowe" th:field="*{type_of_game}"  id = "typeButt" />Zręcznościowe</li>
							<li><input name="q6" type="radio" value="Przygodowe" th:field="*{type_of_game}" />Przygodowe</li>
							<li><input name="q6" type="radio" value="Sportowe" th:field="*{type_of_game}" />Sportowe</li>
							<li><input name="q6" type="radio" value="Logiczne" th:field="*{type_of_game}" />Logiczne</li>
						</ul>
						<h3>Jaki typ gier komputerowych preferujesz ?</h3>
						<ul>
							<li><input name="q7" type="radio" value="Multi-player" th:field="*{gameplay_type}" id = "smButt" />Multi-player</li>
							<li><input name="q7" type="radio" value="Single-player" th:field="*{gameplay_type}" />Single-player</li>
						</ul>
						<h3>Ile miałęś/aś lat gdy zacząłeś/zaczełaś grać w gry komputerowe?</h3>
						<ul>
							<li><input name="q8" type="radio" value="Ponizej 10" th:field="*{started_age}"  id = "ageButt" />Poniżej 10 lat</li>
							<li><input name="q8" type="radio" value="10-15" th:field="*{started_age}" />Od 10 do 15 lat</li>
							<li><input name="q8" type="radio" value="15-20" th:field="*{started_age}" />Od 15 do 20 lat</li>
							<li><input name="q8" type="radio" value="Powyzej 20" th:field="*{started_age}" />Powyżej 20 lat</li>
						</ul>
						<h3>Jak dużo czasu poświęcasz na gry komputerowe w ciągu dnia?</h3>
						<ul>
							<li><input name="q9" type="radio" value="Ponizej 1h" th:field="*{gaming_time}"  id = "timeButt" />Poniżej 1 godziny</li>
							<li><input name="q9" type="radio" value="1-2h" th:field="*{gaming_time}" />Od 1 do 2 godzin</li>
							<li><input name="q9" type="radio" value="2-5h" th:field="*{gaming_time}" />Od 2 do 5 godzin</li>
							<li><input name="q9" type="radio" value="Powyzej 5h" th:field="*{gaming_time}" />Powyżej 5 godzin</li>
						</ul>
						<h3>Czy Twój czas spędzany na graniu w gry komputerowe zwiększył się na przestrzeni ostatnich lat?</h3>
						<ul>
							<li><input name="q10" type="radio" value="1" th:field="*{time_increased}"  id = "incrButt" />Tak</li>
							<li><input name="q10" type="radio" value="0" th:field="*{time_increased}" />Nie</li>
						</ul>
						<h3>Czy wydawałeś/wydawałaś lub wydajesz realne pieniądze na gry komputerowe (nie licząc kosztów zakupu gier)?</h3>
						<ul>
							<li><input name="q12" type="radio" value="1" th:field="*{spending}"  id = "spendButt" />Tak</li>
							<li><input name="q12" type="radio" value="0" th:field="*{spending}" />Nie</li>
						</ul>
						<button id="submit">Zatwierdź</button>
					</form>
				</div>  
			</div>
		  </div>		
		</div>
	  </section>
	</main>
	<script>
		document.getElementById("typeButt").setAttribute("checked","checked")
		document.getElementById("smButt").setAttribute("checked","checked")
		document.getElementById("ageButt").setAttribute("checked","checked")
		document.getElementById("timeButt").setAttribute("checked","checked")
		document.getElementById("incrButt").setAttribute("checked","checked")
		document.getElementById("spendButt").setAttribute("checked","checked")
	</script>
	<script src="js.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="js/bootsrtap.min.js"></script>
  </body>
  <footer class="footer">© 2020 Krzysztof Wicki, Tomasz Gruzdzis</footer>
  </html>