<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootsrtap.min.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css" type="text/css" />
  
</head>

<body>
	<main>
	  <section class="ankieta">
		<div class="container">
			<header>
				<div class="top">
				  <h2>Ocena uzależnienia od gier komputerowych wśród studentów ETI</h2> 
				  </div>
			</header>
			  <div class="row">
				<div class="col-12">		
				  <div class ="container1">	
					<form class="questionForm" id="q13" data-question="13" th:action="@{/add_money}" th:object="${money}" method="post">
						<h3>Ile wydałeś/wydałaś pieniędzy na gry komputerowe (nie licząc kosztów zakupu gier)?</h3>
						<ul>
							<li><input name="q13" type="radio" value="50-100" th:field="*{amount_of_spending}"  id = "amountButt" />Od 50 do 100 złoty</li>
							<li><input name="q13" type="radio" value="100-500" th:field="*{amount_of_spending}" />Od 100 do 500 złoty</li>
							<li><input name="q13" type="radio" value="500-2000" th:field="*{amount_of_spending}" />Od 500 do 2000 złoty</li>
							<li><input name="q13" type="radio" value="2000+" th:field="*{amount_of_spending}" />Powyżej 2000 złoty</li>
						</ul>
						<h3>Dlaczego wydawałeś/wydawałaś lub wydajesz realne pieniądze na gry komputerowe?</h3>
						<ul>
							<li><input name="q14" type="radio" value="Abonament" th:field="*{reason}"  id = "reasonButt" />Z powodu abonamentu</li>
							<li><input name="q14" type="radio" value="Dodatkowe uslugi" th:field="*{reason}" />Dla dodatkowych usług</li>
							<li><input name="q14" type="radio" value="inne" th:field="*{reason}" />Żadne z powyższych</li>
						</ul>
						<button id="submit">Zatwierdź</button>
					</form>
			</div>
		  </div>		
		</div>
	  </section>
	</main>
	<script>
		document.getElementById("amountButt").setAttribute("checked","checked")
		document.getElementById("reasonButt").setAttribute("checked","checked")
	</script>
	<script src="js.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="js/bootsrtap.min.js"></script>
  </body>
  <footer class="footer">© 2020 Krzysztof Wicki, Tomasz Gruzdzis</footer>
  </html>