<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootsrtap.min.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css" type="text/css" />
  
</head>

<body>
	<main>
	  <section class="ankieta">
		<div class="container">
			<header>
				<div class="top">
				  <h2>Ocena uzależnienia od gier komputerowych wśród studentów ETI</h2> 
				  </div>
			</header>
			  <div class="row">
				<div class="col-12">		
				  <div class ="container1">	
				</form>
				<form class="questionForm" id="q24" data-question="24" th:action="@{/add_social}" th:object="${social_life}" method="post">
				<h3>Czy osoby z Twojego najbliższego otoczenia skarżą się, że zbyt dużo czasu poświęcasz na gry komputerowe?</h3>
				<ul>
					<li><input name="q24" type="radio" value="1" th:field="*{friends_complaining}"  id = "compButt" />Tak</li>
					<li><input name="q24" type="radio" value="0" th:field="*{friends_complaining}" />Nie</li>
				</ul>
					<h3>Czy łatwiej jest Tobie nawiązywać nowe znajomości w grach niż w świecie rzeczywistym? </h3>
					<ul>
						<li><input name="q21" type="radio" value="1" th:field="*{game_friend_easier}"  id = "easierButt"/>Tak</li>
						<li><input name="q21" type="radio" value="0" th:field="*{game_friend_easier}" />Nie</li>
					</ul>
					<h3>Czym może być spowodowane łatwiejsze nawiązywanie znajomości w grach komputerowych? </h3>
					<ul>
						<li><input name="q26" type="radio" value="Nikt nie wie kim jestem" th:field="*{reasons_of_game_friends}"  id = "gameButt" />Nikt nie wie kim jestem</li>
						<li><input name="q26" type="radio" value="Nie obchodzi mnie co o mnie pomysla" th:field="*{reasons_of_game_friends}"/>Nie obchodzi mnie co o mnie pomyślą</li>
						<li><input name="q26" type="radio" value="Posiadam wspolny temat do rozmowy z innymi graczami" th:field="*{reasons_of_game_friends}"/>Posiadam wspólny temat do rozmowy z innymi graczami</li>
						<li><input name="q26" type="radio" value="inne" th:field="*{reasons_of_game_friends}"/>Żadne z powyższych</li>
					</ul>
					<h3>Czy nawiązywanie znajomości w świecie rzeczywistym sprawia Tobie trudność? </h3>
					<ul>
						<li><input name="q27" type="radio" value="1" th:field="*{real_life_difficult}"  id = "diffButt" />Tak</li>
						<li><input name="q27" type="radio" value="0" th:field="*{real_life_difficult}"/>Nie</li>
					</ul>
					<button id="submit">Zatwierdź</button>
				</form>
				</div>  
			</div>
		  </div>		
		</div>
	  </section>
	</main>
	<script>
		document.getElementById("compButt").setAttribute("checked","checked")
		document.getElementById("easierButt").setAttribute("checked","checked")
		document.getElementById("gameButt").setAttribute("checked","checked")
		document.getElementById("diffButt").setAttribute("checked","checked")
	</script>
	<script src="js.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="js/bootsrtap.min.js"></script>
  </body>
  <footer class="footer">© 2020 Krzysztof Wicki, Tomasz Gruzdzis</footer>
  </html>