<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
  <div class="sky-container">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>

    <div id="three-container"></div>
    
</div>
	<header>
    <h3>Zapraszamy do wypełnienia naszej ankiety! </h3>
 
  </header>
  
	<div class="container6">
		
		<main>
			<h3>
                Cześć!</br>
                Jesteśmy studentami Inżynierii Biomedycznej na wydziale Elektroniki, Telekomunikacji i Informatyki Politechniki Gdańskiej.</br>
                W ramach projektu studenckiego, chcielibyśmy zachęcić Ciebie do wypełnienia naszej ankiety,</br>
                w której zbierane są informacje na temat oceny uzależnienia od gier komputerowych studentów Politechniki Gdańskiej.</br>
                Po wykonaniu ankiety masz możliwość sprawdzenia swojich wynikow na tle reszty!</h3>
                <button id="submit" onclick="window.location.href='/respondent_q'">Start!</button>
		</main>
		
    </div>
    
	<script src="js/jquery.js"></script>
	<script src="js/quiz.js"></script>
</body>
</html>