<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootsrtap.min.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css" type="text/css" />
  
</head>

<body>
  <main>
    <section class="ankieta">
      <div class="container">
        <div class="sky-container">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>

        </div>
        <header>
          <div class="top">
            <h2>Zapraszamy do wypełnienia naszej ankiety!</h2> 
            </div>
        </header>

        
        <div class="row">
          <div class="col-12">		
            <div class ="container1">	
              <h3>
                Cześć!</br>
                Jesteśmy studentami Inżynierii Biomedycznej na wydziale Elektroniki, Telekomunikacji i Informatyki Politechniki Gdańskiej.</br>
                W ramach projektu studenckiego, chcielibyśmy zachęcić Ciebie do wypełnienia naszej ankiety,</br>
                w której zbierane są informacje na temat oceny uzależnienia od gier komputerowych studentów Politechniki Gdańskiej.</br>
                Po wykonaniu ankiety masz możliwość sprawdzenia swojich wynikow na tle reszty!</h3>
                <button id="submit" onclick="window.location.href='/respondent_q'">Start!</button>
              </h3>
            </div>  
          </div>
          <div class="col-12"><br><br><br><br><br><br><br><br><br><br><br></div>
        </div>		
      </div>
    </section>
  </main>
 
  <script src="js.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="js/bootsrtap.min.js"></script>
</body>
<footer class="footer">© 2020 Krzysztof Wicki, Tomasz Gruzdzis</footer>
</html>