<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootsrtap.min.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
  
</head>

<body>
  <main>
    <section class="ankieta">
      <div class="container">
        <div class="sky-container">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>

        </div>
        <header>
          <div class="top">
            <h2>Statystyki</h2> 
            </div>
        </header>

        
        <div class="row">
          <div class="col-12">		
            <div class ="container1">	
              <h3>
                <div class="wrapper">
                  <h1>Statystyki odpowiedzi na wybrane pytania</h1>
                  <div class="pie-charts">
                    <div class="pieID--macro-skills pie-chart--wrapper">
                      <h2>Rozkład płci</h2>
                      <div class="pie-chart">
                        <div class="pie-chart__pie"></div>
                        <ul class="pie-chart__legend">
                          <li><em>Kobiety</em><span th:text = ${Kobiety} ></span></li>
                          <li><em>Mężczyźni</em><span th:text = ${Mezczyzni} ></span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="pieID--micro-skills pie-chart--wrapper">
                      <h2>Rozkład osób grających</h2>
                      <div class="pie-chart">
                        <div class="pie-chart__pie"></div>
                        <ul class="pie-chart__legend">
                          <li><em>Osoby grające</em><span th:text = ${Gracze} ></span></li>
                          <li><em>Osoby nie grające </em><span th:text = ${Nie_grajacy} ></span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="pieID--categories pie-chart--wrapper">
                      <h2>Rozkład graczy wydających pieniądze na gre</h2>
                      <div class="pie-chart">
                        <div class="pie-chart__pie"></div>
                        <ul class="pie-chart__legend">
                          <li><em>Wydające</em><span th:text = ${Wydajacy} ></span></li>
                          <li><em>Niewydające</em><span th:text = ${Nie_wydajacy} ></span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="pieID--operations pie-chart--wrapper">
                      <h2>Rozkład osób poświęcających określony czas na gry w ciągu dnia</h2>
                      <div class="pie-chart">
                        <div class="pie-chart__pie"></div>
                        <ul class="pie-chart__legend">
                          <li><em>Poniżej 1 godziny</em><span th:text = ${ponizej_1h} ></span></li>
                          <li><em>Między 1 a 2 godzinami</em><span th:text = ${pomiedzy_1_2h} ></span></li>
                          <li><em>Między 2 a 5 godzinami</em><span th:text = ${pomiedzy_2_5h}></span></li>
                          <li><em>Powyżej 5 godzin</em><span th:text = ${powyzej_5h} ></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="submit">Powrót</button>
              </h3>
            </div>  
          </div>
          <div class="col-12"><br><br><br><br><br><br><br><br><br><br><br></div>
        </div>		
      </div>
    </section>
  </main>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
 
  <script  src="./javascript/script.js"></script>
  <script src="./javascript/js.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="js/bootsrtap.min.js"></script>
</body>
</html>