<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Ankieta</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
  <div class="sky-container">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>

    <div id="three-container"></div>
    
</div>
	<header>
    <h3>Statystyki </h3>
 
  </header>
  
	<div class="container6">
		
		<main>
			<h3>
                WYKRES<br>
                
                <button id="submit">Powrót</button>
		</main>
		
    </div>
    
	<script src="js/jquery.js"></script>
	<script src="js/quiz.js"></script>
</body>
</html>